.page {
    background-image: url('Screen\ Shot\ 2022-06-30\ at\ 3.24.58\ PM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    height: 95vh;
}

.container {
    width: 25vw;
    margin: auto;
    text-align: center;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 10px 10px;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    padding: 10px;
    font-family: 'Tillana', cursive;
    font-weight: bold;
}

button {
    background-color:#d8ceb3;
    font-weight: bold;
}
