.page {
    background-image: url('Screen\ Shot\ 2022-06-30\ at\ 3.24.58\ PM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    height: 95vh;
}

.container {
    width: 30vw;
    margin: auto;
    text-align: center;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 10px 10px;
}

.form {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color:#d8ceb3;
}

.authbutton {
    background-color:white;
    font-weight: 400;
    width: fit-content;
    align-self: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 3px #d8ceb3, 3px 4px #c6a39a;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    position: relative;
}

h1:before, h1:after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 10px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

h1:before {
    margin: 15px 0 0 -30px;
  }

  h1:after {
    margin: 15px 0 0 10px;
  }
