.page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    border: 15px solid #5d594d;
    padding: 2%;
}

.planes {
    margin: .5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.item {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 1px #5d594d;
}

