.nav {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding-left: 0;
    /* background-image: url('Components/CSS/photo-1513002749550-c59d786b8e6c.avif'); */
    background-size: cover;
}
