.nav {
    margin: 0;
    height: 5vh;
    width: 100%;
    background-color: #d8ceb3;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}
